MyPress.Client/Service References/ServiceMyPress/MyPressService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyPress.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyPress.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DataCr">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentUser" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataCr" nillable="true" type="tns:DataCr" />
  <xs:complexType name="Data">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bing" nillable="true" type="tns:ArrayOfBing" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rubriki" nillable="true" type="tns:ArrayOfRubriki" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Data" nillable="true" type="tns:Data" />
  <xs:complexType name="ArrayOfBing">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bing" nillable="true" type="tns:Bing" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBing" nillable="true" type="tns:ArrayOfBing" />
  <xs:complexType name="Bing">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SentAnalys" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bing" nillable="true" type="tns:Bing" />
  <xs:complexType name="ArrayOfRubriki">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Rubriki" nillable="true" type="tns:Rubriki" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRubriki" nillable="true" type="tns:ArrayOfRubriki" />
  <xs:complexType name="Rubriki">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bing" nillable="true" type="tns:ArrayOfBing" />
      <xs:element minOccurs="0" name="CountCircle" type="xs:int" />
      <xs:element minOccurs="0" name="CountRubr" type="xs:long" />
      <xs:element minOccurs="0" name="DateCreate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Market" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Query" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rubriki" nillable="true" type="tns:Rubriki" />
  <xs:simpleType name="ErrorList">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Succes" />
      <xs:enumeration value="DublicateName" />
      <xs:enumeration value="DublicateEmail" />
      <xs:enumeration value="SuccesPassword" />
      <xs:enumeration value="FailedPass" />
      <xs:enumeration value="EmailNull" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ErrorList" nillable="true" type="tns:ErrorList" />
</xs:schema>