MyPress.Client/Service References/ServiceMyPress/MyPressService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyPressService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1311/MyPressService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1311/MyPressService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1311/MyPressService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyPress.Web" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMyPressService_GetRubriki_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRubriki" />
  </wsdl:message>
  <wsdl:message name="IMyPressService_GetRubriki_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRubrikiResponse" />
  </wsdl:message>
  <wsdl:message name="IMyPressService_GetCurrUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrUser" />
  </wsdl:message>
  <wsdl:message name="IMyPressService_GetCurrUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMyPressService_AddCurrUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCurrUser" />
  </wsdl:message>
  <wsdl:message name="IMyPressService_AddCurrUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCurrUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMyPressService_QueryToBing_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryToBing" />
  </wsdl:message>
  <wsdl:message name="IMyPressService_QueryToBing_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryToBingResponse" />
  </wsdl:message>
  <wsdl:message name="IMyPressService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IMyPressService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMyPressService_RestorePass_InputMessage">
    <wsdl:part name="parameters" element="tns:RestorePass" />
  </wsdl:message>
  <wsdl:message name="IMyPressService_RestorePass_OutputMessage">
    <wsdl:part name="parameters" element="tns:RestorePassResponse" />
  </wsdl:message>
  <wsdl:message name="IMyPressService_CheckUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUser" />
  </wsdl:message>
  <wsdl:message name="IMyPressService_CheckUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMyPressService_CheckUserLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserLogin" />
  </wsdl:message>
  <wsdl:message name="IMyPressService_CheckUserLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserLoginResponse" />
  </wsdl:message>
  <wsdl:portType name="IMyPressService">
    <wsdl:operation name="GetRubriki">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyPressService/GetRubriki" message="tns:IMyPressService_GetRubriki_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyPressService/GetRubrikiResponse" message="tns:IMyPressService_GetRubriki_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyPressService/GetCurrUser" message="tns:IMyPressService_GetCurrUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyPressService/GetCurrUserResponse" message="tns:IMyPressService_GetCurrUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCurrUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyPressService/AddCurrUser" message="tns:IMyPressService_AddCurrUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyPressService/AddCurrUserResponse" message="tns:IMyPressService_AddCurrUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryToBing">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyPressService/QueryToBing" message="tns:IMyPressService_QueryToBing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyPressService/QueryToBingResponse" message="tns:IMyPressService_QueryToBing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyPressService/AddUser" message="tns:IMyPressService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyPressService/AddUserResponse" message="tns:IMyPressService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RestorePass">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyPressService/RestorePass" message="tns:IMyPressService_RestorePass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyPressService/RestorePassResponse" message="tns:IMyPressService_RestorePass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyPressService/CheckUser" message="tns:IMyPressService_CheckUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyPressService/CheckUserResponse" message="tns:IMyPressService_CheckUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckUserLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyPressService/CheckUserLogin" message="tns:IMyPressService_CheckUserLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyPressService/CheckUserLoginResponse" message="tns:IMyPressService_CheckUserLogin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMyPressService" type="tns:IMyPressService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRubriki">
      <soap:operation soapAction="http://tempuri.org/IMyPressService/GetRubriki" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrUser">
      <soap:operation soapAction="http://tempuri.org/IMyPressService/GetCurrUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCurrUser">
      <soap:operation soapAction="http://tempuri.org/IMyPressService/AddCurrUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryToBing">
      <soap:operation soapAction="http://tempuri.org/IMyPressService/QueryToBing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IMyPressService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RestorePass">
      <soap:operation soapAction="http://tempuri.org/IMyPressService/RestorePass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUser">
      <soap:operation soapAction="http://tempuri.org/IMyPressService/CheckUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserLogin">
      <soap:operation soapAction="http://tempuri.org/IMyPressService/CheckUserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyPressService">
    <wsdl:port name="BasicHttpBinding_IMyPressService" binding="tns:BasicHttpBinding_IMyPressService">
      <soap:address location="http://localhost:1311/MyPressService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>